.container {
    margin: 2rem;
}

section {
    height: 40px;
}

.nav-tabs {
    width: 100%;
    float: left;
    list-style: none;
    border-bottom: 1px solid grey;
}

.nav-tabs li {
    float: left;
    font-size: 17px;
    font-family: sans-serif;
    color: cadetblue;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.nav-tabs li.active {
    background-color: coral;
    color: white;
    border: 1px solid grey;
    border-radius: 4px 4px 0px 0px;
}

.nav-tabs li.active:hover {
    background-color: coral;
    color: rgb(255, 208, 208);
}

.nav-tabs li:hover {
    color: rgb(9, 53, 34);
}

.content {
    position: relative;
}  

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
    position: absolute;
    border: 1px solid rgb(120, 120, 120);
    height: 200px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
}