.dropdownBtn {
    width: 100px;
    height: 40px;
    border: none;
    background: cornflowerblue;
    color: white;
    user-select: none;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    outline: none;
}

.dropdown-hide {
    display: none;
}

.dropdown {
    display: block;
    border: 1px solid grey;
    width: 300px;
    height: auto;
    min-height: 35px;
    background: whitesmoke;
    outline: none;
}

.dropdown ul {
    margin: 0px;
    padding: 0px;
    font-family: fantasy;
}

.dropdown ul li {
    list-style: none;
    border-bottom: 1px solid grey;
    height: 30px;
    padding-left: 15px;
    padding-top: 10px;
    cursor: pointer;
}

.dropdown ul li:hover {
    background: rgba(255, 210, 131, 0.598);
}

#search {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    font-size: 15px;
    padding-left: 15px;
    outline: none;
}